{% extends "base.html" %}

{% block content %}
<div class="container bootstrap snippet" style="margin-top:60px">
    <div class="row">
  		<div class="col-sm-12 text-center"><h1>File Case Number: {{ filecase.id }}</h1></div>
    <div class="row col-12 mt-2">
    	<div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">Case Info</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#notifications">Notifications</a></li>
            </ul>
              
          <div class="tab-content mt-3">
            <div class="tab-pane active" id="home">
            	{% include 'filecasecommon.html' %}

	            {% if filecase.type == 'citizenship' %}
	            	{% include 'ctzfilecase.html' %}
	            {% elif filecase.type == 'marriagegreencard' %}
	            	{% include 'mgcfilecase.html' %}
	            {% endif %}
              
             </div><!--/tab-pane-->

             <div class="tab-pane" id="notifications">
                {% include 'filecasenotifications.html' %}
              </div><!--/tab-pane-->

          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->

  </div>
</div>
{% endblock %}

{% block scripts %}
    {{super()}}
	<!-- jsPDF library -->
	<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
	<!-- SurveyJS Core library -->
	<script src="https://unpkg.com/survey-core@latest/survey.core.min.js"></script>
	<!-- SurveyPDF Exporter library -->
	<script src="https://unpkg.com/survey-pdf@latest/survey.pdf.min.js"></script>

	<script src="../static/js/filecase.js"></script>

	<script> var surveysResponse = {{ surveys|tojson }}; </script>
	<script> var filecaseInfo = {{ filecase|tojson }}; </script>
	<script> var caseitemsInfo = {{ caseitems|tojson }}; </script>

	<!-- Uncomment next line to add html and markdown text support -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js"></script> -->
	<!-- Uncomment next line to add IE11 support -->
	<!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script> -->

	<!-- Libraries below come from https://plugins.krajee.com/file-input -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/filecasenotifications.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/themes/fas/theme.min.js"></script>

{% endblock %}