<div class="container-fluid chat-container">
    <div class="row h-100">
        <div class="col d-flex p-0">
            <div class="card" style="width:100%">
                <div class="card-header bg-darkblue text-white py-1 px-2" style="flex: 0.5 1">
                    <div class="d-flex flex-row justify-content-start">
                        <div class="col-1 p-1">
                            <button class="btn text-white bg-darkblue p-0 hover-color-lightgray">
                                <i class="fas fa-bars fa-2x"></i>
                            </button>
                        </div>
                        <div class="col">
                            <div class="my-0">
                                <b>StanIslove</b>
                            </div>
                            <div class="my-0">
                                <small>last seen Feb 18 2017</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-lightgrey d-flex flex-column p-0" style="flex: 9 1;max-height:600px">
                    <div class="container-fluid message-scroll" style="flex: 1 1" id="chatMessagesList">
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control border-0" placeholder="Input message..." id="chatMessage">
                        <span class="input-group-addon">
                            <button class="btn border-0 bg-white text-primary hover-color-darkblue" type="button" id="sendChatMessage">
                                <i class="fab fa-telegram-plane fa-2x"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
</div>
<!-- container -->