{% extends "base.html" %}

{% block content %}
<div class="container bootstrap snippet" style="margin-top:60px">
    <div class="row">
  		<div class="col-sm-12 text-center"><h1>File Case Number: {{ filecase.id }}</h1></div>
    <div class="row col-12 mt-2">
    	<div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">Case Info</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#notifications">Notifications</a></li>
            </ul>
              
          <div class="tab-content mt-3">
            <div class="tab-pane active" id="home">
			  		<div class="col-sm-3" style="margin-right: auto;margin-left: auto;"><!--left col--> 
				      <div class="text-center">
				        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar rounded-circle img-thumbnail" alt="avatar">
				      </div>          
			        </div>

			        <div class="col-sm-12 text-center clearfix mt-4"><h2>Personal Information</h2></div>
			        <div class="col-sm-12 mt-4">
                      <div class="form-row">                          
                          <div class="form-group col-md-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any." value="{{user.first}}" readonly >
                          </div>                          
                          <div class="form-group col-md-6">
                            <label for="last_name"><h4>Last name</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any." value="{{user.last}}" readonly>
                          </div>
                      </div>

                      <div class="form-row">                          
                          <div class="form-group col-md-6">
                              <label for="username"><h4>User Name</h4></label>
                              <input type="text" class="form-control" name="username" id="username" placeholder="username" title="user name" value="{{user.username}}" readonly>
                          </div>                          
                          <div class="form-group col-md-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email." value="{{user.email}}" readonly>
                          </div>
                      </div>
          
                      <div class="form-row">                          
                          <div class="form-group col-md-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any." readonly>
                          </div>
                          <div class="form-group col-md-6">
                             <label for="mobile"><h4>Mobile</h4></label>
                              <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any." readonly>
                          </div>
                      </div>
                    </div>              
              	<hr>

              	<div class="row col-12 mt-2">
              		<div class="col-12 text-center clearfix"><h2>Case Details</h2></div>
                      <div class="form-row col-12">                          
                          <div class="form-group col-md-6">
                              <label for="caseType"><h4>Type</h4></label>
                              <input type="text" class="form-control" name="caseType" id="caseType" value="{{filecase.type}}" readonly>
                          </div>
                          <div class="form-group col-md-6">
                             <label for="caseStatus"><h4>Status</h4></label>
                              <input type="text" class="form-control" name="caseStatus" id="caseStatus" value="{{filecase.status}}" readonly>
                          </div>
                      </div>
              	</div>

              	<div class="row col-12 mt-2">
              		<div class="col-12 text-center clearfix"><h2>Surveys</h2></div>
						<table class="table table-striped">
						  <thead>
						    <tr>
						      <th scope="col">Survey #</th>
						      <th scope="col">Type</th>
						      <th scope="col">Status</th>
						      <th scope="col">Actions</th>
						    </tr>
						  </thead>
						  <tbody id=searchResults>
						  	{% for survey in surveys %}
						  		<tr>
						  		<td scope="row">{{ survey.id }}</td>
						  		<td>{{ survey['name'] }}</td>
						  		<td>{{ survey['status'] }}</td>
						  		<td><button type="button" onclick='downloadSurvey({{ survey['id'] }})'  class="btn-xs" >Download</button></td>
						  		</tr>
						  	{% endfor %}
						  </tbody>
						</table>
              	</div>
              
             </div><!--/tab-pane-->

             <div class="tab-pane" id="notifications">
              </div><!--/tab-pane-->

          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->

  </div>
</div>
{% endblock %}

{% block scripts %}
    {{super()}}
	<!-- jsPDF library -->
	<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
	<!-- SurveyJS Core library -->
	<script src="https://unpkg.com/survey-core@latest/survey.core.min.js"></script>
	<!-- SurveyPDF Exporter library -->
	<script src="https://unpkg.com/survey-pdf@latest/survey.pdf.min.js"></script>

	<script src="../static/js/filecase.js"></script>

	<script> var surveysResponse = {{ surveys|tojson }}; </script>

	<!-- Uncomment next line to add html and markdown text support -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js"></script> -->
	<!-- Uncomment next line to add IE11 support -->
	<!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script> -->

{% endblock %}